<h1> Posts </h1>
<%= link_to 'Create a new Post', new_post_path %> 
<% @posts.each do |post| %>
	<h2><%= post.author %></h2>
	<h3><%= post.title %></h3>
	<p><%= post.body %></p>
	<%= link_to 'Show Post', post_path(post) %>
<% end %>